<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Event Look Up</title>

</head>

<body>
    <fieldset>
        <legend>
            <h3>Data Input</h3>
        </legend>

        <form action="/input" method="post">
            <label for="uid">uid : </label>
            <input type="text" id="uid" name="uid" autocomplete="on" value="{{uid}}">
            <br><br>
            # UTC time
            <br>
            <label for="stdatetime">stdatetime : </label>
            <input type="datetime-local" name="stdatetime" id="stdatetime" value="{{stdatetime}}">
            <br><br>
            <label for="eddatetime">eddatetime : </label>
            <input type="datetime-local" name="eddatetime" id="eddatetime" value="{{eddatetime}}">
            <br><br>
            <input type="submit" name="input" autocomplete="off">
        </form>
    </fieldset>

    <hr>
    <table border="1px; solid; black" cellpadding="10px">
        <caption><span style="color: dodgerblue; font-weight: bold; font-size: 1.5em;">{{uid}}</span>'s event log data
            <br>
            <span style="color: mediumseagreen; font-weight: bold;font-size: 1.5em;">{{stdatetime}}</span>~<span
                style="color: mediumseagreen; font-weight: bold;font-size: 1.5em;">{{eddatetime}}</span>
            <br>
            count : <span style="color: tomato; font-weight: bold;font-size: 1.5em;">{{docs_count}}</span>
            
            <span style="color: black; font-weight: bold;font-size: 1.5em;">print {{print_count}}</span>
        </caption>
        <p>index list : {{index_list}}</p>
        <thead>
            <tr>
                <th>no</th>
                <th>acc</th>
                <th>svc</th>
                <th>cocd</th>
                <th>uname</th>
                <th>os</th>
                <th>evtype</th>
                <th>lid</th>
                <th>lgsrc</th>
                <th>media</th>
                <th>svrtype</th>
                <th>acctype</th>
                <th>evkind</th>
                <th>scrpath</th>
                <th>uid</th>
                <th>task</th>
                <th>ltz</th>
                <th>evmsg</th>
                <th>udate</th>
            </tr>
        </thead>

        <tbody>
            {% for doc in docs %}
            <tr>
                <td>{{doc.no}}</td>
                <td>{{doc.acc}}</td>
                <td>{{doc.svc}}</td>
                <td>{{doc.cocd}}</td>
                <td>{{doc.uname}}</td>
                <td>{{doc.os}}</td>
                <td>{{doc.evtype}}</td>
                <td>{{doc.lid}}</td>
                <td>{{doc.lgsrc}}</td>
                <td>{{doc.media}}</td>
                <td>{{doc.svrtype}}</td>
                <td>{{doc.acctype}}</td>
                <td>{{doc.evkind}}</td>
                <td>{{doc.scrpath}}</td>
                <td>{{doc.uid}}</td>
                <td>{{doc.task}}</td>
                <td>{{doc.ltz}}</td>
                <td>{{doc.evmsg}}</td>
                <td>{{doc.udate}}</td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
    <script>
        document.getElementById('stdatetime').value= new Date().toISOString().slice(0, 16);
        document.getElementById('eddatetime').value= new Date().toISOString().slice(0, 16);
    </script>
</body>

</html>
