<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Event Look Up</title>

</head>

<body>
    <fieldset>
        <legend>
            <h3>Data Input</h3>
        </legend>

        <form action="/input" method="post">
            <label for="uid">uid : </label>
            <input type="text" id="uid" name="uid" autocomplete="on" value="{{uid}}">
            <br><br>
            # UTC time
            <br>
            <label for="stdatetime">stdatetime : </label>
            <input type="datetime-local" name="stdatetime" id="stdatetime" value="{{stdatetime}}">
            <br><br>
            <label for="eddatetime">eddatetime : </label>
            <input type="datetime-local" name="eddatetime" id="eddatetime" value="{{eddatetime}}">
            <br><br>
            <input type="submit" name="input" autocomplete="off">
        </form>
    </fieldset>

    <hr>
    <table border="1px; souserid; black" cellpadding="10px">
        <caption><span style="color: dodgerblue; font-weight: bold; font-size: 1.5em;">{{uid}}</span>'s event log data
            <br>
            <span style="color: mediumseagreen; font-weight: bold;font-size: 1.5em;">{{stdatetime}}</span>~<span
                style="color: mediumseagreen; font-weight: bold;font-size: 1.5em;">{{eddatetime}}</span>
            <br>
            count : <span style="color: tomato; font-weight: bold;font-size: 1.5em;">{{docs_count}}</span>

            <span style="color: black; font-weight: bold;font-size: 1.5em;">print {{print_count}}</span>
        </caption>
        <p>index list : {{index_list}}</p>
        <thead>
            <tr>
                <th>no</th>
                <th>account</th>
                <th>service</th>
                <th>code</th>
                <th>uname</th>
                <th>os</th>
                <th>event</th>
                <th>userid</th>
                <th>source</th>
                <th>media</th>
                <th>type</th>
                <th>accounttype</th>
                <th>eventtype</th>
                <th>sourcepath</th>
                <th>uid</th>
                <th>task</th>
                <th>timezone</th>
                <th>message</th>
                <th>datetime</th>
            </tr>
        </thead>

        <tbody>
            {% for doc in docs %}
            <tr>
                <td>{{doc.no}}</td>
                <td>{{doc.account}}</td>
                <td>{{doc.service}}</td>
                <td>{{doc.code}}</td>
                <td>{{doc.uname}}</td>
                <td>{{doc.os}}</td>
                <td>{{doc.event}}</td>
                <td>{{doc.userid}}</td>
                <td>{{doc.source}}</td>
                <td>{{doc.media}}</td>
                <td>{{doc.type}}</td>
                <td>{{doc.accounttype}}</td>
                <td>{{doc.eventtype}}</td>
                <td>{{doc.sourcepath}}</td>
                <td>{{doc.uid}}</td>
                <td>{{doc.task}}</td>
                <td>{{doc.timezone}}</td>
                <td>{{doc.message}}</td>
                <td>{{doc.datetime}}</td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
    <script>
        document.getElementById('stdatetime').value = new Date().toISOString().slice(0, 16);
        document.getElementById('eddatetime').value = new Date().toISOString().slice(0, 16);
    </script>
</body>

</html>